/* Container Styling */
.nat-analytics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  min-height: 100vh;
}

/* Page Title */
.page-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

/* Chart Container */
.chart-container {
  width: 80%;
  
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  

  display: grid;
  grid-template-columns: 1fr 1fr ; /* Two equal-width columns */
  grid-template-rows: 1fr 1fr;    /* Two equal-height rows */
  gap: 20px;   
}

.item_1{
  /* Scatter*/
width: 800px;
margin-top: 50px;
height: 600px;
margin-left: 20px;
position: relative;
}
.item_2{
  /* Span Chart*/
  width: 80%;
  margin-left: 20px;
  position: relative;
}
.item_3{
  /* Radar Chart*/
  margin-top: 50px;
  width: 800px;
  height: 600px;
  margin-left: 20px;
  position: relative;
}
.item_4{
  /* Parallel Coordinate Plot*/
  width: 80%;
  margin-left: 20px;
  position: relative;
}
/* Loader Styling */
.loader {
  font-size: 18px;
  font-weight: 600;
  color: #007BFF;
  margin-top: 50px;
}
